@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* Base of the Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:root{
    --primary-color:  #cddcef;
    --background-color: #b6d0f1;
    --text-color: #111111;
    --border-color: rgba(0, 0, 0, 0.3);
    --hover-bg: rgba(0, 0, 0, 0.1);
    --transition-main: 0.5s ease;
    --transition-fast: 0.25 ease;
}

.dark-mode {
    --primary-color: #31487d;
    --background-color: #28334b;   
    --text-color: #e5e5e5;   
    --border-color: rgba(255, 255, 255, 0.25);
    --hover-bg: rgba(205, 220, 239, 0.1);
    --title-bg: #28334b;
}

body{
    background: var(--background-color);
    color: var(--text-color);
    transition: background-color var(--transition-main), color var(--transition-main);
}



/* Header  */
.header{
    height: 10rem;
    display: flex;
    align-items: center;
    background: var(--primary-color);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: background-color var(--transition-main);
    z-index: 1;
}


/* --Nav Buttons */
.header_div_container{
    color: var(--primary-color);
    width: 100%;
    padding: 0 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cpp_container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.cpp_container a{
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    color: var(--text-color);
    border-radius: 1rem  1rem 0 0;
    position: relative;
}

/* --Nav & Login buttons handled together */
.login_container button::after,
.cpp_container a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 0.2rem;
    background: var(--border-color);
    transition: width var(--transition-main);
}

.login_container button:hover::after,
.cpp_container a:hover::after {
    width: 100%;
}

.login_container button:hover,
.cpp_container a:hover {
    background: var(--hover-bg);
}

.cpp_container a,
.login_container button {
    transition : 
    background-color var(--transition-main), color var(--transition-main),
    border-color var(--transition-main); 
}


/* --Title badge */
.title_container {
    font-size: 2.4rem;
    text-align: center;
    padding: 0.6rem 1.5rem;
    color: var(--text-color);
}

.title_container h1{
    display: inline-block;
    font-size: 5rem;
    font-weight: 500;
    padding: 0.6rem 1.5rem;     
    border-radius: 0.5rem;
    background: var(--background-color);
    z-index: 0;
}


/* --Login & theme toggle */
.login_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.login_container button{
    font-size: 1.6rem;
    padding: 0.6rem 1.2rem;
    background: transparent;
    border: none;
    border-radius: 1rem  1rem 0 0;
    color: var(--text-color);
    transition: 0.1s;
    position: relative;
}

#theme-toggle{
    color: var(--text-color);
    font-size: 1.8rem;
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  opacity var(--transition-main);
}

.fade{
    opacity: 0;
}

button, a {
    cursor: pointer;
}

